extends templateAddOrEdit

block addoreditForm
    form#simpletableForm()
        fieldset
            .form-group
                .row
                    .col-md-12
                        label= l.name
                        input.form-control(type='text' name='name' required='true' maxlength=40 autocomplete="off")#form_name
                        label= l.notes
                        input.form-control(type='text' name='notes' maxlength=200 autocomplete="off")#form_notes
        .form-actions
            .row
                .col-md-12
                    button(type="submit")#AddButton.btn.btn-success= l.save 
    script(src='js/form_edit_add_delete.js')